* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  border: 2px solid black;

  display: grid;
  grid-template-columns: 1fr 4fr;
}

.sidebar {
  border: 2px solid red;
  height: 100vh;
}

.sidebar-content {
  border: 2px solid rgb(132, 0, 255);
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 6fr 1fr 3fr 6fr;
  min-width: 320px;
  padding: 1rem;
}

.branding {
  border: 2px solid rgb(0, 255, 179);

  display: grid;
  grid-template-columns: 1fr 3fr;
  justify-items: center;
  align-items: center;
  min-height: 50px;
  gap: 1rem;
}

.navigation {
  border: 2px solid rgb(234, 0, 255);

  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: repeat(6, 1fr);
  justify-items: center;
  align-items: center;
  min-height: 300px;
  gap: 1rem;
}

.admin {
  border: 2px solid rgb(21, 255, 0);

  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  min-height: 150px;

  gap: 1rem;
}

.main {
  border: 2px solid blue;

  display: grid;
  grid-template-rows: 150px 1fr;
}

.header {
  border: 2px solid blue;
  padding: 1rem;

  display: grid;
  grid-template-rows: 1fr 1fr;
}

.header-top {
  border: 2px solid #ffee00;

  display: grid;
  grid-template-columns: 1fr 10fr 2fr 1fr 2fr 4fr;
  gap: 1rem;
}

.header-bottom {
  border: 2px solid #ff8800;

  display: grid;
  grid-template-columns: 1fr 4fr 3fr 1fr 1fr 1fr 0.5fr;
  gap: 1rem;
}

.main-content {
  border: 2px solid greenyellow;

  display: grid;
  grid-template-columns: 2.5fr 1fr;
}

.projects {
  border: 2px solid salmon;
  padding: 3rem 1.5rem;

  display: grid;
  grid-template-rows: 1fr 20fr;
  gap: 1rem;
}

.news {
  border: 2px solid salmon;
  padding: 3rem 1.5rem;

  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}

.heading {
  border: 2px solid black;

  display: grid;
  justify-items: start;
  align-items: center;
}

.announce,
.trending {
  border: 2px solid crimson;

  display: grid;
  grid-template-rows: 1fr 10fr;
  gap: 1rem;
}

.projects-container,
.announce-container {
  border: 2px solid blueviolet;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.project-card {
  border: 2px solid deeppink;
  border-radius: 10px;
  min-height: 180px;
  padding: 3rem 2rem;

  display: grid;
  grid-template-columns: 1fr 49fr;
  grid-template-rows: 2fr 0.5fr 1fr;
}

.project-card > .accent {
  background-color: #ff8800;

  /* grid-row: 1 / 3; */
}

.card-info {
  border: 2px solid lightseagreen;

  display: grid;
  grid-template-rows: 1fr 3fr;
  gap: 0.5rem;
}

.card-info > .title {
  font-weight: bold;
}

.card-icons {
  border: 2px solid fuchsia;

  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-items: right;
  align-items: center;
  /* gap: 4rem; */
}

.card-icons > .icons {
  border: 2px solid red;
  /* padding: 0.5rem; */

  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.card-icons > .icons > div {
  padding: 1rem;
}

.spacer {
  min-height: 50px;
}
