* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  border: 2px solid black;

  display: grid;
  grid-template-columns: 1fr 4fr;
}

.sidebar {
  border: 2px solid red;
  height: 100vh;
}

.sidebar-content {
  border: 2px solid rgb(132, 0, 255);
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 6fr 1fr 3fr 6fr;
  min-width: 320px;
  padding: 1rem;
}

.branding {
  border: 2px solid rgb(0, 255, 179);

  display: grid;
  grid-template-columns: 1fr 3fr;
  justify-items: center;
  align-items: center;
  min-height: 50px;
  gap: 1rem;
}

.navigation {
  border: 2px solid rgb(234, 0, 255);

  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: repeat(6, 1fr);
  justify-items: center;
  align-items: center;
  min-height: 300px;
  gap: 1rem;
}

.admin {
  border: 2px solid rgb(21, 255, 0);

  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  min-height: 150px;

  gap: 1rem;
}

.main {
  border: 2px solid blue;

  display: grid;
  grid-template-rows: 1fr 4fr;
}

.header {
  border: 2px solid blue;
  padding: 1rem;

  display: grid;
  grid-template-rows: 1fr 1fr;
}

.header-top {
  border: 2px solid #ffee00;

  display: grid;
  grid-template-columns: 1fr 10fr 2fr 1fr 2fr 4fr;
  gap: 1rem;
}

.header-bottom {
  border: 2px solid #ff8800;

  display: grid;
  grid-template-columns: 1fr 4fr 3fr 1fr 1fr 1fr 0.5fr;
  gap: 1rem;
}

.main-content {
  border: 2px solid greenyellow;

  display: grid;
  grid-template-columns: 2.5fr 1fr;
}

.projects {
  border: 2px solid salmon;
  padding: 3rem 1.5rem;

  display: grid;
  grid-template-rows: 1fr 20fr;
  gap: 1rem;
}

.main-sidebar {
  border: 2px solid salmon;
  padding: 3rem 1.5rem;

  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}

.main-sidebar-top,
.main-sidebar-bottom {
  border: 2px solid crimson;

  display: grid;
  grid-template-rows: 1fr 10fr;
  gap: 1rem;
}

#projects-heading,
#announcements-heading,
#trending-heading {
  border: 2px solid black;

  display: grid;
  justify-items: start;
  align-items: center;
}

.projects-container,
.announcements-container {
  border: 2px solid blueviolet;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 2rem;
}

.project-card {
  border: 2px solid deeppink;
  border-radius: 10px;
  min-height: 180px;
}

.spacer {
  min-height: 50px;
}
