* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-colour: #fec7c4;
  --main-colour-desat: #faeaea;
  /* --main-colour: red; */
}

@font-face {
  font-family: nunito-sans-regular;
  src: url(fonts/NunitoSans-Regular.ttf);
}

@font-face {
  font-family: nunito-sans-bold;
  src: url(fonts/NunitoSans-Bold.ttf);
}

body {
  height: 100vh;
  font-family: nunito-sans-regular;
}

.big-bold-font {
  font-size: 2rem;
  font-family: nunito-sans-bold;
}

.medium-bold-font {
  font-size: 1.5rem;
  font-family: nunito-sans-bold;
}

.content-heading {
  font-size: 1.6rem;
  font-family: nunito-sans-bold;
  align-self: end;
  /* padding-bottom: 0.5rem; */
}

.hi-there {
  font-family: nunito-sans-bold;
  align-self: end;
}

.user-handle {
  align-self: start;
}

.outer-left {
  background-color: rgb(232, 155, 255);
  height: 100%;

  display: grid;
  grid-template-columns: 0.7fr 4fr;
}

.outer-right {
  background-color: rgb(155, 227, 255);

  display: grid;
  grid-template-rows: calc(117px * 2) 1fr;
}

.main-content {
  /* background-color: rgb(102, 255, 110); */
  background-color: var(--main-colour-desat);
  padding: 2.5rem;

  display: grid;
  grid-template-columns: 2.5fr 1fr;
  grid-template-rows: 0.5fr 6fr 0.5fr 6fr;
  gap: 1.3rem;
}

.shadow {
  box-shadow: 5px 5px 5px rgb(212, 212, 212);
}

.top {
  background-color: rgb(255, 248, 155);

  display: grid;
  grid-template-columns: 2fr 1fr;
}

.projects {
  /* background-color: rgb(190, 155, 255); */
  background-color: var(--main-colour-desat);
  /* padding: 1.5rem; */

  grid-row-start: 2;
  grid-row-end: 5;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 2rem;
}

.announcements-list,
.trending-list,
.project {
  border-radius: 10px;
  padding: 2rem;
  background-color: white;
  box-shadow: 5px 5px 5px rgb(212, 212, 212);
}

/* .project {
  max-height: 322px;
} */

.announcements-list {
  /* background-color: rgb(155, 255, 250); */
  /* padding: 1.5rem; */

  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.trending-list {
  /* background-color: rgb(255, 155, 238); */

  display: grid;
  grid-template-rows: repeat(4, 1fr);
}

.top-left {
  background-color: rgb(72, 121, 255);

  display: grid;
  grid-template-rows: repeat(2, 117px);
}

.search {
  /* background-color: rgb(72, 255, 170); */
  background-color: white;
  padding: 1rem 5.5rem;

  display: grid;
  grid-template-columns: 1fr 12fr;
  align-items: center;
  justify-items: start;
  gap: 1rem;
}

.search-bar {
  width: 600px;
  height: 2rem;
  border: none;
  border-radius: 1rem;
  background-color: var(--main-colour-desat);
  padding: 1rem;
}

.user {
  /* background-color: rgb(72, 151, 255); */
  /* background-color: rgb(247, 247, 247); */
  background-color: white;

  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: calc(117px / 2) calc(117px / 2);
}

.user-icon-big-container {
  justify-self: center;

  width: 117px;
  overflow: hidden;
  grid-row: 1 / span 2;

  border-radius: 50%;
  border: 1px solid rgb(207, 207, 207);
  position: relative;
}

.user-icon-big {
  position: absolute;

  height: 200px;
  top: -80px;
  left: -46px;
}

.user-greeting {
  align-self: center;
}

.top-right {
  background-color: rgb(255, 72, 157);

  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.buttons {
  /* background-color: rgb(243, 255, 72); */
  background-color: white;
  /* padding: 0 1rem; */

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* gap: 1rem; */

  justify-items: center;
  align-items: center;

  font-family: nunito-sans-bold;
}

.button {
  background-color: var(--main-colour);
  width: 120px;
  height: 50px;

  display: grid;
  align-items: center;
  justify-items: center;

  border-radius: 25px;
}

.button-left {
  justify-self: end;
}

.button-right {
  justify-self: start;
}

.bell-icon {
  display: grid;

  justify-items: end;
  align-items: center;
}

.notifications {
  /* background-color: rgb(255, 139, 72); */
  background-color: white;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 3fr;
  gap: 2rem;
}

.user-icon-small-container {
  justify-self: center;
  align-self: center;

  width: 86.58px;
  height: 86.58px;
  overflow: hidden;

  border-radius: 50%;
  border: 1px solid rgb(207, 207, 207);
  position: relative;
}

.user-icon-small {
  position: absolute;

  height: 140px;
  top: -55px;
  left: -32px;
}

.doll-top-right {
  justify-self: left;
  align-self: center;
}

.left-sidebar {
  /* background-color: rgb(243, 255, 72); */
  background-color: var(--main-colour);
  color: black;
  font-size: 1.6rem;
  font-family: nunito-sans-regular;

  display: grid;
  /* grid-template-rows: 0.5fr 0.25fr 2fr 0.5fr 1fr 5fr; */
  grid-template-rows: 0.5fr 0.25fr 2fr 0.5fr 1fr 3fr;

  padding: 2rem;
}

.logo,
.nav,
.settings {
  align-items: center;
  gap: 1rem;
}

.logo {
  /* background-color: rgb(121, 72, 255); */

  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: start;
}

.nav {
  /* background-color: rgb(72, 243, 255); */

  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: repeat(6, 1fr);
}

.settings {
  /* background-color: rgb(255, 121, 154); */

  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: repeat(3, 1fr);
}
