.cropped1 {
  /* width of container */
  /* width: 200px; */
  /* height of container */
  /* height: 200px; */
  object-fit: cover;
  /* border: 5px solid black; */
}
.cropped2 {
  width: 200px;
  height: 200px;
  object-fit: none;
  object-position: 20% 10%;
  /* border: 5px solid black; */
}
